{% load static %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static '/css/blog.css' %}">
<title>Best sinners' site </title>
</head>
<body style="background-color: black;">
  <font color="white">
  <div class="page-header">
  <h1> Real sins </h1>
  </div>
<div>
  {%for post in posts%}
    <div class="post">
      <h2><a href="">{{post.title}}</a></h2>
      <div class="text">
        <p>{{post.text|linebreaksbr}}</p>
      </div>
      <div class="date">
        <p><em>published: {{post.published_date}}</em></p>
      </div>
    </div>


  {%endfor%}
</div>
  </font>
</body>
</html>
