.page-header {
  padding: 20px 20px 20px 20px;
  margin: 30px;
  top: 0;
  background-color: #cfcfcf;
  text-align: center;
  position: sticky;
}


.page-header h1, .page-header h1 a, .page-header a:visited {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {font-family: 'Cinzel', serif;}
h4 {font-family: 'Cormorant Garamond', serif;}

.post {
  background: rgba(0,0,0,0.3);
  padding: 30px;
  margin: 10px;
  margin-bottom: 50px;

}

.post h2 a {
  opacity: 1;
  color: red;
}

.text {
  opacity: 1;
  font-family: 'Cormorant Garamond', serif;
}

.date {
  font-family: 'News Cycle', sans-serif;
  opacity: 1;
}

.plus {
  color: red;
  float: right;
  margin-right: -50px;
}

.red{
  color: #ff0000;
}

.newsin h2{
  margin-left: 34px;
}

.name_user{
  margin-left: 30px;
  color: #AC2F32;
  font-family: 'Cinzel', serif;
  font-size: medium;
}

.parallax{
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base{
  transform: translateZ(0);
}

.parallax__layer--back{
  transform: translateZ(-5px) scale(10);
}
