.page-header {
  padding: 20px 20px 20px 20px;
  margin: 30px;
  background-color: #cfcfcf;
  text-align: center;
}

.page-header h1, .page-header h1 a, .page-header a:visited {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {font-family: 'Cinzel', serif;}
h4 {font-family: 'Cormorant Garamond', serif;}

.post {
  background-color: #000000;
  padding: 30px;
  margin: 10px;
  margin-bottom: 50px;

}

.post h2 a {
  color: red;
}

.text {
  font-family: 'Cormorant Garamond', serif;
}

.date {
  font-family: 'News Cycle', sans-serif;

}

.plus {
  color: red;
  float: right;
  margin-right: 20px;
}

.red{
  color: #ff0000;
}

.newsin h2{
  margin-left: 34px;
}
